__pychche__
db.sqlite3
/static
/media
venv
.venv
.idea
.DS_Store

#####################################
# Frontend gitignore settings start
#####################################
# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# dependencies
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
frontend/.pnp
frontend/.pnp.js

# env vars (ex: API Key)
frontend/.env

# testing
frontend/coverage

# production
frontend/build

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.DS_Store
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sw?
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/src/.DS_Store
#####################################
# Frontend gitignore settings end
#####################################
