.App {
  position: relative;
  width: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8%;
  max-width: 66px;
  min-height: 100vh;
  float: left;
  background-color: #165ae7;
}

.testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  max-width: 42px;
  height: 5vw;
  max-height: 42px;
  margin: 0 0 24px 0;
  background-color: #0e4ac6;
  border-radius: 32%;
  border: none;
  cursor: pointer;
}

.content-view {
  width: 92%;
  height: 100%;
  float: left;
  padding: 8px 8px 0 24px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

/* search bar start */
.search-bar {
  position: relative;
  width: 60%;
  margin: 8px 0px 0px 32px;
}

.search-bar .fa-search {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #9ca3af;
}

.form span {
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.form-input {
  height: 4vh;
  max-height: 40px;
  width: 100%;
  text-indent: 33px;
  border-radius: 24px;
  border: 1px solid #e6e7e7;
  background-color: #f0f3fa;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}

/* search bar end */

.account-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0px 0px 32px;
}

.login-btn {
  margin-right: 4vw;
  width: 12vw;
  max-width: 85px;
  height: 4vh;
  max-height: 40px;
  border-radius: 26px;
  border: none;
  background-color: #165ae7;
  color: #ffffff;
  cursor: pointer;
}

.user-noti {
  width: 4vh;
  max-width: 40px;
  height: 4vh;
  max-height: 40px;
  border: none;
  border-radius: 100%;
  background-color: #ebecee;
}

.account-info {
  display: flex;
  align-items: center;
  margin: 0px 2vw 0px 4vw;
}

.acc-profile {
  width: 4vh;
  max-width: 40px;
  height: 4vh;
  max-height: 40px;
  margin: 0px 1vw 0px 0px;
  border: none;
  border-radius: 100%;
  background-color: #ebecee;
}

.acc-name {
  color: #69728d;
}
